<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Jbh_CartMerge for Magento.
 *
 * @license Lesser General Public License v3 (http://www.gnu.org/licenses/lgpl-3.0.txt)
 * @author Jacques Bodin-Hullin <jacques@bodin-hullin.net>
 * @category Jbh
 * @package Jbh_CartMerge
 * @copyright Copyright (c) 2012 Jacques Bodin-Hullin (http://jacques.sh/)
 */
-->
<config>
    <sections>
        <checkout>
            <groups>
                <merge translate="label" module="jbh_cartmerge">
                    <label>Shopping Cart Merge Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <disabled translate="label" module="jbh_cartmerge">
                            <label>Disable Merge</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </disabled>
                        <clean_if_empty translate="label" module="jbh_cartmerge">
                            <label>Clean if visitor's cart is empty</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </clean_if_empty>
                    </fields>
                </merge>
            </groups>
        </checkout>
    </sections>
</config>
